.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  background-color: #ccc; /* Grey color for the header background */
}

.button-container {
  display: flex;
  gap: 8px;
  margin-left: auto; /* Aligns the buttons to the right */
}

.button {
  background-color: #001e62; /* Blue color for buttons */
  color: white;
  border: none;
  cursor: pointer;
  padding: 6px 12px;
  margin-left: 10px;
}
.buttons{
  margin-left: 700px ;
}
