
.vis-btns {
    padding: 5px 5px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-right: 1px;
    background-color: #001e62;
    color: white;
    transition: background-color 0.3s ease;
  }
  
  .vis-btns:hover {
    background-color: #2980b9;
  }

  .container {
    display: flex;
    height: 100%;
}
  .left-nav {
    height: 100%;
    width: 20%; /* Width of the navigation bar */
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111; /* Background color */
    overflow-x: hidden;
    box-sizing: border-box; 
}

.left-nav a {
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.left-nav a:hover {
    color: #f1f1f1;
}


.right-content {
  display: flex;
  flex-direction: column;
  width: 80%;
  box-sizing: border-box;
}

.left-nav h4 {
  color: white;
}

.left-nav .vis-btns {
  display: block;
  margin-bottom: 10px; /* Add space between buttons */
}

.d3-component {
  width: 100%;
  /* Keep your existing styles, but ensure it doesn't have a fixed height */
}

.slider-container {
  margin-top: 10px; /* Adjust as needed */
  text-align: center;
  /* Rest of your styling for the slider container */
}

.tooltip {
  position: absolute;
  text-align: center;
  padding: 8px;
  font: 12px sans-serif;
  background: white;
  border: solid 1px #aaa;
  border-radius: 4px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s;
}

.selected-btn {
  background-color: #4CAF50; /* Example: Green background */
  color: white; /* White text */
  /* Add any other styling you prefer for a selected button */
}
